[submodule "vendor/github.com/marcelocantos/sqlift"]
	path = vendor/github.com/marcelocantos/sqlift
	url = https://github.com/marcelocantos/sqlift.git
[submodule "vendor/github.com/marcelocantos/sqldeep"]
	path = vendor/github.com/marcelocantos/sqldeep
	url = https://github.com/marcelocantos/sqldeep.git
[submodule "vendor/github.com/marcelocantos/deepparser"]
	path = vendor/github.com/marcelocantos/deepparser
	url = https://github.com/marcelocantos/deepparser.git
	branch = sqldeep-grammar
